<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Dashboard</title>
    <%- include('../partials/head')%>
    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet">
  </head>

<body>
  <%- include('../partials/navbar', {user}) %>
  
  <%- include('../partials/sidebar')%>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">

            <!-- Exams Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

                <div class="card-body">
                  <h5 class="card-title">Exams</h5>

                  <div class="d-flex justify-content-center">
                    <div class="ps-3">
                      <h6> <%= user.exams %> </h6>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Exams Card -->

            <!-- Questions Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">

                <div class="card-body">
                  <h5 class="card-title">Questions</h5>

                  <div class="d-flex justify-content-center">
                    <div class="ps-3">
                      <h6> <%= user.questions %> </h6>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Questions Card -->
          </div>

        </div><!-- End Left side columns -->


      </div>
    </section>

  </main><!-- End #main -->

  <%- include('../partials/footer')%>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <%- include('../partials/script')%>

</body>

</html>